/text8
/vocab
*.bin
*~
.*.swp
.*.swo
*.tab
*.o
/word2vec
/word2vec-athena
/word2vec-athena-neg
/word2vec-1-neg
/word2vec-static-window
/word2vec-alias-neg
/word2vec-reservoir-neg
/word2vec-unsmoothed-neg
/word2vec-uniform-neg
/word2vec-local-vars
/word2vec-no-pthread
/word2vec-no-subsample
/word2vec-no-o3
/word2vec-no-funroll
/word2vec-no-march
/word2vec-no-memalign
/word2vec-double
/word2phrase
/distance
/word-analogy
/compute-accuracy
/cpuinfo.txt
/athena/
